body{
    margin:0;
}

#pattern{
    background: url(../img/pattern.png);
    background-color: rgb(0, 146, 243);
    height: 200px;
}

.logo {
    height: 80px;
    padding-top: 100px;
    padding-left: 15px;
}

.titolo {
    font-size: 60px;
    margin: 5px;
}
.fonte {
    color: grey;
    margin-top: -10px;
    margin-left: 5px;
    
}
.nome {
    color: rgb(6, 162, 252) ;
}

.tabella{
    width: 1500px;

    border-spacing: 0;
}


.descrizione {
    font-size: 12px;
}

.evidenziatore {
    background-color:rgb(220, 255, 93);
}

.intestazionetabella {
    background-color: rgb(19, 150, 226);
   


}
.celle {
    width: 500px;
    color: white;
}

.colorato {
    background-color: rgb(176, 228, 248);
}

.consiglo {
    color: rgb(87, 84, 84);
    font-size: 20px;
    margin-top: 10px;

    

.monitor {
    background-image: url(../img/monitor.jpg) ;
    background-size: 500px;
    height: 300px;
    margin-right: 1000px;   
}

.dati {
    background-image: url(../img/graph.jpg) ;
    background-size: 500px;
    height: 300px;
    margin-right: 1000px;
   
    
    
}
.scritta {
    margin-left: 20px;
    color: white;
    font-family: serif;
    font-size: 40px;
}


    
    


