body{
    margin:0;
}

#pattern{
    background: url(../img/pattern.png);
    background-color: rgb(0, 146, 243);
    height: 200px;
}

.logo{
    height: 80px;
    padding-top: 100px;
    padding-left: 15px;
}

h1{
    font-size: 60px;
    margin: 5px;
}
.fonte{
    color: grey;
    
    
}
span{
    color: rgb(6, 162, 252) ;
}
p{
    margin-top: -10px;
    margin-left: 5px;
}

.descrizione{
    font-size: 12px;

